@import url("https://fonts.googleapis.com/css?family=Faster+One");
@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");

.prev {
  float: left;
}
.next {
  float: right;
}

.center {
  float: center;
}

.box {
  display: inline-block;
  width: 90%;
  height: 40%;
}

.filler {
  height: 40%;
}

.classlist {
  display: inline-block;
}

table img {
  height: 150px;
  width: 350px;
}
table,
th,
td {
  border: 1px solid black;
  padding: 15px;
}

.rider {
  background-color: blue;
  color: white;
}

.shooter {
  color: white;
  background-color: orange;
}

h2 {
  font-family: "Faster One", cursive;
}

#Hud {
  height: 600px;
}
.directHUD {
  width: 75%;
}

h4 {
  font-family: 'Press Start 2P', cursive;
}

ul li h3 {
  font-family: 'Press Start 2P', cursive;
}
